.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}