@import '~app/vars';

.dropper {
  display: inline-block
}

// displays things as flex, not good
.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  margin-right: 8px;
}

.editing {
  background: $color1;
}

.root {
  padding: 8px 0px;
}

.actions {
  margin-left: -4px;
  .action {
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    padding: 0px 4px;
    text-decoration: underline;
  }
}

.response {
  display: grid;
  grid-template-rows: 1fr auto;
  max-width: 500px;

  &_input{
    padding: 8px 4px;    
    font-family: $font1;
  }
  &_actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

// .question {
//   .wrapper::before {
//     display: block;
//     content:'?';
//     font-size: 1.6em;
//   }

//   &.resolved {
//     .wrapper::before {
//       content: '✓';
//     }
//   }
// }


.images {
  padding: 8px;
  padding-bottom: 0px;
}