@import '../../../app/vars';

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0.8;
  font-size: 0.8em;

  .up,
  .down {
    background-color: transparent;
    border: 0px;
    padding: 5px;
    margin: 0px;
    cursor: pointer;
    line-height: inherit;
  }
}


.box {
  &.solved {
    border: 1px solid $color2;
  }
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
}