@import '~app/vars';

.root {
  &.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color1;
    margin: 0px;
  }
  &.browser {
    display: grid;
    background-color: $color1;
    margin: 0px;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
}

.header {
  color: $white;
  font-family: $font2;
  letter-spacing: 2px;
  text-decoration: none;
  margin: 0px;

  &_button {
    background-color: transparent;
    box-shadow: none;
    font-size: 32px;
    margin: 0px;
  }

  &_close {
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    font-size: 32px;
    align-self: flex-end;
    color: $color1;
  }
  &_menu {
    margin: 0px !important;
    padding-top: 32px !important;
    z-index: 1;
    position: fixed;
    left: 25%;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }

  &_link {
    padding-right: 16px;
    .mobile & {
      grid-column: 1 / 2;
    }
  }
}

.wrapper {

}
