@import "~app/vars";

.root {
  background: $white;
}

.root + .root {
  border-top: 1px solid $gray;
}

.odd {
  background: $gray;
}

.even {
  background: $white;
}

.dragging {
  box-shadow: $boxShadow;
}

.comment {
  
}