.header {
  display: flex;
  justify-content: flex-end;
}

.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrapper {
  display: grid;
  padding: 16px 32px;
  .mobile & {
    grid-template-columns: 1fr;
  }
  .desktop & {
    grid-template-columns: 1fr 1fr;
  }
}

.section {
  
}