@import "~app/vars";

.root {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray;
  overflow-y: hidden;
  flex-shrink: 0;
}

.img {
  width: 100%;
  height: auto;
}