@import '~app/vars';

.root {
  box-shadow: $boxShadow;
  background-color: $white;
  margin: $gap;
  border-radius: 2px;
  &.mobile {
    padding: $gap;
  }
  &.desktop {
    padding: $gapBig;
  }
}