/* Coolors Exported Palette - coolors.co/e4572e-29335c-f3a712-a8c686-669bbc */

/* HSL */
$color1: hsla(14%, 77%, 54%, 1);
$color2: hsla(228%, 38%, 26%, 1);
$color3: hsla(40%, 90%, 51%, 1);
$color4: hsla(88%, 36%, 65%, 1);
$color5: hsla(203%, 39%, 57%, 1);

/* RGB */
$color1: rgba(228, 87, 46, 1);
$color2: rgba(41, 51, 92, 1);
$color3: rgba(243, 167, 18, 1);
$color4: rgba(168, 198, 134, 1);
$color5: rgba(102, 155, 188, 1);;

$black: #0f0f0f;
$gray: #DCDEE1;
$white: #FFFFFF;

$boxShadow: 0px 5px 16px 0px rgba(120,120,120,1);
$boxShadowLight: 0px 5px 8px 0px rgba(120,120,120, 0.5);;
$boxShadowHeavy: $boxShadow;

$gap: 16px;
$gapSmall: 8px;
$gapBig: 32px;

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Rubik');
$font1: 'Rubik', sans-serif;
$font2: 'Bree Serif', serif;
