@import "~app/vars";

.root {
  display: grid;
  grid-template: 1fr / 1fr;
}

:global {
  html {
    height: 100%;
    margin: 0px;
    font-family: $font1;
  }

  html, body, .body, #root {
    display: grid;
    grid-template: 1fr / 1fr;
    margin: 0px;
  }
  * {
    box-sizing: border-box;
  }
}
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}