@import '~app/vars';

.button {
  background: $color2;
  border: none;
  padding: 8px;
  margin: 4px;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  font-family: $font1;
  box-shadow: $boxShadowLight;
}

.link {
  text-decoration: none;
  color: $color1;
  &:hover {
    text-decoration: underline;
  }
}