<!DOCTYPE html>
<html>

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>window.__APP_INITIAL_STATE__ = {}</script>
</head>

<div class="body">
  <div id="root"></div>
</div>
<script type="text/javascript" src="/app.bundle.js"></script>
</html>