.wrapper,
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
}


.small {
  font-size: 0.5em;
}

.main {
  // color:
}