@import '~app/vars';

.root {
  display: grid;
  margin: 8px;
  margin-top: 16px;

  &.browser {
    grid-template-rows: [start] auto auto auto [end];
    grid-template-columns: [start] 1fr 1fr 1fr 1fr [end];
  }
  
  &.mobile {
    grid-template-rows: [start] auto auto auto [end];
    grid-template-columns: [start] 1fr [end];
  }
}

// desktop
.board {
  grid-column: 1 / span 3;
}
// mobile
.boards {
  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  &_link {
    padding: 0px 16px;
  }
  &_board  + &_board {
    border-top: 1px solid $gray;
  }
  
}

.title {
  margin-bottom: 4px;
  border-bottom: 2px solid $gray;
}

.comments {
  .browser & {
    grid-row-start: 2;
    grid-row-end: end;
    grid-column: 4 / 5;
  }
}

.topics {
  display: flex;
  align-items: center;

  padding-left: $gap;
  padding-right: $gap;


  .title {
    margin: 0px;
    font-size: 16px;
    margin-right: 16px;
  }
}

.addBoard {
  position: relative;

  &_card {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.preBoard {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-start: start;
  grid-column: start / end;

  &_cta {
    display: flex;
    align-items: flex-start;
  }
}

.questions {
  .mobile & {
    grid-column: 1 / 2;
  }
  .browser & {
    grid-column: 1 / 5;
  }
}
