@import '../../../app/vars';

.dropzone {
   border: none;
}

.active {
  border: 1px solid $color4;
}

.image {
  width: 100%;
  height: auto;
}

.imageWrapper {
  position: relative;
}

.imageClear {
  position: absolute;
  right: 0px;
  top: 0px;
}