@import '~app/vars';

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
  overflow: auto;
  padding: 4px;
}

.item {

}

.link {
  display: block;
  text-decoration: none;
  color: black;
  background-color: $color3;
  flex-grow: 0;
  margin: 4px;
  padding: 4px;
  font-size: 14px;
  box-shadow: $boxShadowLight;
}