@import '~app/vars';

.root {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.root + .root {
  border-top: 1px solid $gray;
}

.info {
  display: grid;
  grid-template-columns: auto auto;
}


.header {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 8px;
}