.root {
  position: relative;
}

.wrapper {
  background-color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.element {
  padding: 8px;
  border-bottom: 1px solid #cccccc;
}