.label {
  padding-right: 16px;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 2fr;
  padding: 8px;
  align-items: center;
}

.input {
  padding: 8px;
}

.inputWrapper {
  display: grid;
}