.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.client {
  display: grid;
  grid-template-columns: 1fr auto;

  &_action {
    grid-column: 2 / 3;
    grid-row: 1 / 2
  }
}

.avatar {
  width: 100%;
  height: auto;
}

.dropzone {
  border: none;
  width: 25%;
}