.root {
  display: grid;
  grid-gap: 16px;
  grid-auto-columns: auto;
  grid-auto-flow: column;
}


.imageWrapper {
  position: relative;
  padding-top: 100%;
  height: 0px;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portrait {
  width: 100%;
  height: auto;
}

.landscape {
  height: 100%;
  width: auto;
}

.imageRoot {
  max-width: 25vw;
}