@import "~app/vars";

.board {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
}

.wrapper {
  min-height: 400px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.wrapper + .wrapper .column {
  border-left: 1px dotted $gray;
  padding-left: 8px;
}

.addColumn {
  &_button{
    box-shadow: none;
    background-color: transparent;
    border: none;
    font-weight: bolder;
    font-size: 24px;
    color: $color2;
    padding: 4px;
    cursor: pointer;
  }

}

.title {
  margin: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $gray;
}

.column {
  padding-right: 8px;
  
  &_dragOver{
    // background-color: $gray;
    box-shadow: $boxShadowLight;
  }
}
