@import "~app/vars";

.loading {
  width: 50%;
  animation: loading 200ms infinite;
	background: linear-gradient(-90deg, transparent, transparent, $gray, transparent, transparent);
	background-size: 200% 100%;
  animation: Gradient 1250ms ease infinite;
}

@keyframes Gradient {
	0% {
    background-position: 150% 0%
	}
	100% {
    background-position: -50% 0%
	}
}

